
@{ ViewBag.Title = "Rezervations"; }

<h2>@ViewBag.Title</h2>


<table class="table">
    <thead>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Update</th>
    <th>Details</th>
    </thead>
    <tbody>
        @foreach (var rezervation in ViewBag.Rezervations)
        {
<tr>
    <td>@rezervation.Name</td>
    <td>@rezervation.Persone.PhoneNumber</td>
    <td>@Html.ActionLink("Update", "Edit", new { id = rezervation.RezervationId })</td>
    <td>@Html.ActionLink("View More", "Details", new { id = rezervation.RezervationId })</td>
</tr>
}
    </tbody>
</table>

<br />
@using (Html.BeginForm(actionName: "Index", controllerName: "Room", method: FormMethod.Get))
{
<button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Back to rooms</button>}

