@model lab6.Models.Room
@{
    ViewBag.Title = "Update";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Room"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(b => b.RoomId)
    <br />
    <br />

    

    @Html.Label("NrPeople", "Number of People:")
    <br />
    @Html.EditorFor(b => b.NrPeople, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.NrPeople, "", new { @class = "text-danger" })
    <br />


    @Html.Label("Furniture", "Furniture:")
    <br />
    @Html.DropDownListFor(b => b.FurnitureId, new SelectList(Model.FurnitureList, "Value", "Text"), "Choose a book type", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.FurnitureId, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Rezervation", "Rezervation:")
    <br />
    @Html.DropDownListFor(b => b.RezervationId, new SelectList(Model.RezervationList, "Value", "Text"), "Choose a publisher", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.RezervationId, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.LabelFor(b => b.UtilitiesList, "Choose utilities:")
    <br />
    for (int i = 0; i < Model.UtilitiesList.Count(); i++)
    {
        @Html.HiddenFor(b => b.UtilitiesList[i].Id)
        @Html.HiddenFor(b => b.UtilitiesList[i].Name)
        @Html.CheckBoxFor(b => b.UtilitiesList[i].Checked)
        @Html.DisplayFor(b => b.UtilitiesList[i].Name)
        <br />
    }
    <br />
    <button class="btn btn-primary" type="submit">Update</button>
}