@model lab6.Models.Persone
@{
    ViewBag.Title = "Update person type";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Persone", method: FormMethod.Post))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(b => b.PersoneId)

    @Html.LabelFor(bt => bt.PhoneNumber, "Phone:")
    <br />
    @Html.EditorFor(bt => bt.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(bt => bt.PhoneNumber, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.LabelFor(bt => bt.BirthDay, "BirthDay:")
    <br />
    @Html.EditorFor(bt => bt.BirthDay, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(bt => bt.BirthDay, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.LabelFor(bt => bt.BirthMonth, "Month:")
    <br />
    @Html.EditorFor(bt => bt.BirthMonth, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(bt => bt.BirthMonth, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.LabelFor(bt => bt.BirthYear, "Year:")
    <br />
    @Html.EditorFor(bt => bt.BirthYear, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(bt => bt.BirthYear, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.LabelFor(bt => bt.Region, "Region:")
    <br />
    @Html.EditorFor(bt => bt.Region, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(bt => bt.RegionId, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.LabelFor(bt => bt.Resident, "Resident:")
    <br />
    @Html.EditorFor(bt => bt.Resident, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(bt => bt.Resident, "", new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-primary" type="submit">Update</button>
}